@using Microsoft.AspNetCore.Identity
@using AnatoliaSmmPanel.Data.Models.Appliciton
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var path = Context.Request.Path.Value?.ToLower() ?? "";

    bool hideNavbar =
        path.StartsWith("/settings") ||
        path.StartsWith("/identity/account");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnatoliaSmmPanel</title>
    <script type="importmap"></script>
  @*   <meta name="keywords" content="{{ site['seo_key'] }}">
    <meta name="description" content="{{ site['seo_desc'] }}"> *@
  @*   {% if site['favicon'] %}
    <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
    {% endif %} *@

    <script>
            (function() {
                var theme = localStorage.getItem("darkMode");
            
                if (theme === "true") {
                    document.documentElement.setAttribute('data-theme', 'dark');
                } else if (theme === "false") {
                    document.documentElement.setAttribute('data-theme', 'light');
                } else {

                    document.documentElement.setAttribute('data-theme', 'dark');
                    localStorage.setItem("darkMode", "true");
                }
            })();

            function change_mode() {
                var currentTheme = localStorage.getItem("darkMode");
                var newTheme = (currentTheme === "true") ? "false" : "true";
                localStorage.setItem("darkMode", newTheme);
                document.documentElement.setAttribute('data-theme', newTheme === "true" ? 'dark' : 'light');
            }

            function change_light() {
                localStorage.setItem("darkMode", "false");
                document.documentElement.setAttribute('data-theme', 'light');
            }

            function change_dark() {
                localStorage.setItem("darkMode", "true");
                document.documentElement.setAttribute('data-theme', 'dark');
            }
    </script>
 
    

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>

    @* <partial name="_LoginPartial" /> *@
    
   
    
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="g-dash">
            <partial name="Partials/_AuthorizeNavbar" />
            @RenderBody()
        </div>
    }
    else
    {
        <partial name="Partials/_Navbar" />

        <section class="regArea">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    }

  


    <footer class="bg-dark text-light mt-0">

        <div class="container text-center py-5">

            <!-- Logo / Brand (opsiyonel) --> 
            <a asp-area="Identity" asp-page="/Account/Login" class="d-inline-block mb-4 text-decoration-none text-light">
                <h3 class="fw-bold m-0">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" class="mb-4" style="height: auto;width: 50vw;max-width: 400px;" viewBox="0 0 3376.000000 1630.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,1630.000000) scale(0.100000,-0.100000)" fill="var(--logo-color)" stroke="none">
                            <path d="M7565 15983 c-22 -2 -44 -8 -50 -13 -5 -4 -27 -11 -47 -15 -21 -4 -38 -11 -38 -16 0 -5 -6 -9 -13 -9 -7 0 -23 -10 -35 -22 -11 -13 -27 -28 -34 -35 -7 -7 -18 -18 -24 -25 -6 -7 -21 -20 -33 -28 -11 -8 -21 -23 -21 -33 0 -9 -7 -20 -15 -23 -9 -4 -15 -19 -15 -35 0 -16 -4 -29 -10 -29 -5 0 -10 -11 -10 -25 0 -14 -4 -25 -10 -25 -6 0 -11 -1410 -12 -4137 -2 -3298 -6 -4137 -15 -4141 -7 -2 -13 -8 -13 -14 0 -6 -10 -19 -22 -29 -11 -11 -18 -22 -15 -25 9 -9 -19 -34 -37 -34 -8 0 -18 -9 -21 -20 -3 -11 -11 -20 -16 -20 -5 0 -19 -11 -31 -25 -12 -14 -28 -25 -35 -25 -7 0 -13 -4 -13 -9 0 -5 -11 -12 -25 -15 -14 -4 -25 -11 -25 -16 0 -6 -9 -10 -20 -10 -11 0 -20 -4 -20 -10 0 -5 -16 -12 -35 -16 -19 -3 -32 -10 -29 -15 3 -5 -4 -9 -15 -9 -12 0 -21 -3 -21 -8 0 -10 -75 -42 -100 -42 -11 0 -20 -4 -20 -10 0 -5 -9 -10 -20 -10 -11 0 -20 -4 -20 -10 0 -5 -11 -10 -25 -10 -14 0 -25 -4 -25 -9 0 -5 -22 -12 -50 -16 -27 -4 -50 -11 -50 -16 0 -5 -11 -9 -25 -9 -14 0 -25 -4 -25 -9 0 -4 -27 -11 -60 -15 -33 -4 -60 -11 -60 -16 0 -6 -16 -10 -35 -10 -19 0 -35 -4 -35 -10 0 -5 -20 -10 -45 -10 -25 0 -45 -4 -45 -9 0 -5 -36 -13 -80 -17 -44 -3 -80 -11 -80 -15 0 -5 -18 -9 -40 -9 -22 0 -40 -4 -40 -10 0 -6 -27 -10 -60 -10 -33 0 -60 -4 -60 -9 0 -5 -45 -12 -100 -16 -55 -3 -98 -10 -95 -15 5 -8 -25 -11 -305 -28 l-145 -9 -33 36 c-18 20 -49 63 -68 95 -38 63 -120 254 -149 346 -10 30 -19 57 -21 59 -1 1 -26 -5 -54 -14 -40 -13 -50 -21 -45 -33 3 -9 21 -75 40 -147 29 -114 38 -162 50 -290 4 -46 -13 -166 -26 -181 -14 -17 -13 -188 1 -192 6 -2 10 -17 10 -32 0 -16 5 -32 10 -35 6 -3 10 -17 10 -31 0 -13 4 -24 9 -24 5 0 12 -29 16 -65 3 -36 11 -65 16 -65 5 0 9 -13 9 -29 0 -17 4 -33 10 -36 6 -3 10 -26 10 -51 0 -24 3 -44 8 -44 4 0 6 -20 4 -45 -3 -28 0 -45 7 -45 6 0 11 -18 11 -40 0 -22 5 -40 10 -40 6 0 10 -20 10 -45 0 -25 5 -45 10 -45 6 0 10 -20 10 -45 0 -25 3 -45 8 -45 4 0 5 -22 4 -50 -3 -32 0 -50 7 -50 6 0 11 -19 11 -45 0 -25 5 -45 10 -45 6 0 10 -22 10 -50 0 -27 4 -50 9 -50 5 0 12 -54 16 -120 4 -66 11 -120 16 -120 5 0 9 -31 9 -70 0 -40 4 -70 10 -70 6 0 10 -33 10 -80 0 -44 3 -80 8 -80 4 0 6 -39 4 -86 -2 -53 1 -91 7 -97 7 -7 11 -62 11 -144 0 -82 4 -133 10 -133 7 0 10 -155 10 -445 0 -290 -3 -445 -10 -445 -6 0 -10 -48 -10 -124 0 -77 -4 -127 -11 -131 -6 -4 -9 -42 -8 -96 1 -49 -1 -92 -5 -96 -3 -3 -6 -39 -6 -80 0 -42 -4 -73 -10 -73 -6 0 -10 -27 -10 -60 0 -33 -4 -60 -9 -60 -5 0 -12 -54 -16 -120 -4 -66 -11 -120 -16 -120 -5 0 -9 -20 -9 -45 0 -25 -4 -45 -10 -45 -5 0 -10 -22 -10 -50 0 -30 -4 -50 -11 -50 -7 0 -10 -17 -7 -45 2 -25 0 -45 -4 -45 -5 0 -8 -20 -8 -45 0 -25 -4 -45 -10 -45 -5 0 -10 -22 -10 -50 0 -27 -4 -50 -10 -50 -5 0 -10 -22 -10 -49 0 -28 -5 -53 -10 -56 -6 -3 -10 -38 -10 -77 0 -61 3 -73 23 -90 18 -16 32 -19 72 -15 47 5 56 10 128 81 42 43 77 84 77 92 0 8 7 17 15 20 8 4 15 14 15 24 0 10 7 21 15 24 9 3 21 19 26 35 6 17 19 33 30 36 10 4 19 15 19 26 0 10 5 19 11 19 6 0 9 7 5 15 -3 8 -1 15 4 15 6 0 10 8 10 18 0 9 9 23 20 30 11 7 20 19 20 27 0 8 5 15 11 15 6 0 9 6 6 13 -3 8 3 20 14 28 10 7 19 21 19 31 0 10 4 18 10 18 5 0 12 16 16 35 3 19 10 35 15 35 5 0 9 7 9 15 0 8 5 15 10 15 6 0 10 7 10 15 0 8 5 15 11 15 6 0 9 8 6 19 -2 11 3 24 14 32 11 7 19 22 19 33 0 10 9 27 21 37 11 10 18 23 14 28 -3 6 -1 11 4 11 6 0 11 7 11 15 0 8 5 15 10 15 6 0 10 9 10 20 0 11 3 20 8 20 12 0 33 56 26 73 -3 10 2 17 15 22 14 4 21 15 21 30 0 13 7 30 15 39 8 8 15 22 15 30 0 9 5 16 10 16 6 0 10 7 10 15 0 8 5 15 10 15 6 0 10 11 10 25 0 14 5 25 11 25 6 0 9 9 6 20 -3 11 -1 20 4 20 5 0 9 7 9 15 0 8 5 15 10 15 6 0 10 9 10 20 0 11 5 20 10 20 6 0 10 7 10 15 0 8 5 15 11 15 6 0 8 9 4 20 -3 11 -2 20 3 20 16 0 32 59 32 120 0 100 56 227 188 424 40 60 71 110 70 110 -2 1 -20 14 -40 29 -20 15 -41 27 -46 27 -5 0 -38 -39 -73 -87 -76 -104 -217 -250 -276 -287 -24 -14 -55 -26 -71 -26 -33 0 -62 27 -62 58 0 12 -4 22 -10 22 -6 0 -10 120 -10 340 0 220 4 340 10 340 6 0 10 63 10 170 0 112 4 170 11 170 7 0 9 50 7 150 -2 83 0 150 5 150 4 0 7 54 7 120 0 73 4 120 10 120 6 0 10 43 10 109 0 63 4 112 10 116 6 4 10 57 10 126 0 80 4 119 11 119 7 0 10 31 7 95 -1 52 0 95 5 95 4 0 7 5 7 11 0 14 25 39 39 39 6 0 11 4 11 9 0 5 16 12 35 15 19 4 35 11 35 16 0 6 16 10 35 10 19 0 35 5 35 10 0 6 15 10 34 10 19 0 36 4 38 10 2 5 72 12 156 16 83 4 152 11 152 16 0 4 158 8 350 8 227 0 350 -4 350 -10 0 -5 15 -10 34 -10 47 0 66 -9 66 -31 0 -10 5 -19 10 -19 6 0 10 -16 10 -35 0 -19 3 -35 8 -35 4 0 6 -18 4 -40 -3 -25 0 -40 7 -40 7 0 11 -22 11 -55 0 -30 5 -55 10 -55 6 0 10 -27 10 -60 0 -33 4 -60 9 -60 5 0 12 -58 16 -130 4 -71 11 -130 16 -130 5 0 9 -38 9 -85 0 -50 4 -85 10 -85 6 0 10 -34 10 -83 0 -46 3 -87 6 -90 4 -4 6 -45 5 -92 -2 -55 2 -85 8 -85 7 0 11 -36 11 -99 0 -56 4 -103 10 -106 6 -3 10 -50 10 -106 0 -59 4 -99 10 -99 6 0 10 -42 10 -105 0 -58 3 -105 8 -105 4 0 6 -58 4 -130 -2 -86 0 -130 7 -130 7 0 11 -42 11 -120 0 -73 4 -120 10 -120 6 0 10 -50 10 -130 0 -71 4 -130 8 -130 11 0 25 -490 16 -558 -5 -43 -10 -52 -26 -52 -15 0 -19 -5 -15 -19 3 -14 -6 -29 -28 -50 l-33 -29 -29 31 c-58 63 -101 124 -171 239 -38 65 -72 123 -75 130 -3 10 -16 7 -50 -9 -26 -13 -47 -27 -47 -33 0 -6 24 -59 54 -119 30 -59 71 -155 91 -212 32 -90 38 -120 42 -222 3 -64 9 -117 13 -117 5 0 11 -22 15 -50 4 -27 11 -52 16 -56 5 -3 9 -16 9 -30 0 -13 5 -24 10 -24 6 0 10 -16 10 -35 0 -19 4 -35 9 -35 5 0 12 -23 16 -50 4 -28 11 -50 16 -50 5 0 9 -11 9 -25 0 -14 5 -25 10 -25 6 0 10 -11 10 -25 0 -14 5 -25 10 -25 6 0 8 -10 4 -24 -3 -13 -1 -27 5 -30 6 -4 11 -20 11 -37 0 -16 5 -29 10 -29 6 0 10 -13 10 -30 0 -16 5 -30 10 -30 6 0 10 -11 10 -25 0 -14 4 -25 9 -25 4 0 6 -11 3 -25 -2 -15 0 -25 7 -25 6 0 11 -11 11 -25 0 -14 5 -25 10 -25 6 0 10 -16 10 -35 0 -19 4 -35 9 -35 5 0 12 -22 16 -50 4 -27 11 -52 16 -56 5 -3 9 -16 9 -30 0 -13 5 -24 10 -24 6 0 10 -16 10 -35 0 -19 4 -35 9 -35 5 0 7 -8 4 -19 -3 -10 0 -22 6 -25 6 -4 11 -18 11 -32 0 -13 5 -24 10 -24 6 0 10 -11 10 -25 0 -14 5 -25 10 -25 6 0 10 -11 10 -24 0 -14 4 -27 8 -30 5 -3 7 -19 4 -36 -2 -18 0 -30 7 -30 6 0 11 -11 11 -25 0 -14 5 -25 10 -25 6 0 10 -13 10 -30 0 -16 5 -30 10 -30 6 0 10 -11 10 -25 0 -14 4 -25 9 -25 4 0 6 -11 3 -25 -2 -15 0 -25 7 -25 6 0 11 -16 11 -35 0 -19 5 -35 10 -35 6 0 10 -11 10 -24 0 -27 26 -41 54 -30 12 5 16 14 13 30 -2 13 0 24 4 24 5 0 9 11 9 25 0 14 5 25 10 25 6 0 10 11 10 25 0 14 5 25 10 25 6 0 10 16 10 35 0 19 5 35 11 35 7 0 9 10 7 25 -3 14 -1 28 3 31 5 3 9 16 9 30 0 13 5 24 10 24 6 0 10 16 10 35 0 19 5 35 10 35 6 0 10 7 10 15 0 8 5 15 11 15 7 0 9 10 7 25 -3 14 -1 25 3 25 5 0 9 16 9 35 0 19 5 35 10 35 6 0 10 11 10 25 0 14 4 25 9 25 5 0 12 25 16 55 3 30 11 55 16 55 5 0 9 11 9 25 0 14 5 25 10 25 6 0 10 16 10 35 0 19 5 35 11 35 7 0 9 10 7 25 -3 14 -1 25 3 25 5 0 9 11 9 25 0 14 5 25 10 25 6 0 10 16 10 35 0 19 5 35 10 35 6 0 10 11 10 24 0 14 5 28 11 32 6 3 9 15 6 25 -3 10 -1 22 4 25 5 3 9 16 9 30 0 13 5 24 10 24 6 0 10 11 10 25 0 14 4 25 10 25 5 0 12 27 16 60 4 33 11 60 15 60 5 0 9 11 9 25 0 14 5 25 10 25 6 0 10 11 10 25 0 14 4 25 9 25 5 0 12 25 16 55 3 30 11 55 16 55 5 0 9 9 9 19 0 11 9 40 20 66 16 37 20 67 19 148 -1 93 2 111 36 206 20 57 61 153 91 212 30 60 54 113 54 119 0 6 -21 20 -47 33 -34 16 -47 19 -50 9 -3 -7 -37 -65 -75 -130 -72 -119 -171 -252 -188 -252 -19 0 -71 61 -76 90 -4 16 -10 30 -15 30 -5 0 -9 9 -9 20 0 11 -4 20 -10 20 -6 0 -10 43 -10 110 0 67 4 110 10 110 6 0 10 53 10 140 0 77 4 140 9 140 5 0 12 119 16 265 4 146 11 265 16 265 5 0 9 47 9 105 0 63 4 105 10 105 6 0 10 47 10 120 0 78 4 120 11 120 7 0 9 35 7 105 -2 58 0 105 5 105 4 0 7 47 7 105 0 63 4 105 10 105 6 0 10 35 10 85 0 47 4 85 9 85 4 0 11 78 15 173 4 94 12 174 17 175 5 2 9 33 9 68 0 36 4 64 10 64 6 0 10 30 10 70 0 44 4 70 11 70 7 0 9 24 7 70 -2 39 0 70 5 70 4 0 7 20 7 45 0 25 5 45 10 45 6 0 10 18 10 40 0 22 5 40 10 40 6 0 10 16 10 35 0 19 5 35 11 35 6 0 9 10 8 23 -5 36 9 47 62 47 27 0 49 5 49 10 0 6 120 10 340 10 187 0 340 -4 340 -9 0 -4 73 -11 163 -15 89 -4 164 -11 165 -17 2 -5 19 -9 38 -9 19 0 34 -4 34 -10 0 -5 11 -10 25 -10 14 0 25 -4 25 -9 0 -4 18 -11 41 -14 40 -5 79 -36 79 -64 0 -7 5 -13 10 -13 6 0 10 -33 10 -80 0 -47 4 -80 10 -80 6 0 10 -43 10 -110 0 -60 3 -110 8 -110 4 0 5 -52 4 -115 -3 -78 0 -115 7 -115 7 0 11 -43 11 -130 0 -80 4 -130 10 -130 6 0 10 -50 10 -130 0 -80 4 -130 10 -130 6 0 10 -67 10 -180 0 -113 -4 -180 -10 -180 -5 0 -10 -11 -10 -25 0 -14 5 -25 10 -25 6 0 10 -120 10 -340 0 -220 -4 -340 -10 -340 -5 0 -10 -11 -10 -23 0 -31 -29 -57 -63 -57 -15 0 -46 12 -70 26 -59 37 -200 183 -276 287 -35 48 -68 87 -73 87 -5 0 -26 -12 -46 -27 -20 -15 -38 -28 -40 -29 -1 0 30 -50 70 -110 132 -197 188 -324 188 -424 0 -61 16 -120 32 -120 5 0 6 -9 3 -20 -4 -11 -2 -20 4 -20 6 0 11 -7 11 -15 0 -8 5 -15 10 -15 6 0 10 -9 10 -20 0 -11 5 -20 10 -20 6 0 10 -7 10 -15 0 -8 4 -15 9 -15 5 0 7 -9 4 -20 -3 -11 0 -20 6 -20 6 0 11 -11 11 -25 0 -14 5 -25 10 -25 6 0 10 -7 10 -15 0 -8 5 -15 10 -15 6 0 10 -7 10 -15 0 -16 8 -27 43 -66 9 -10 17 -28 17 -39 0 -11 5 -20 10 -20 6 0 10 -8 10 -18 0 -9 9 -23 19 -29 12 -8 17 -19 14 -32 -3 -13 2 -24 16 -33 12 -7 21 -21 21 -30 0 -10 4 -18 10 -18 5 0 12 -16 16 -35 3 -19 10 -35 15 -35 5 0 9 -10 9 -23 0 -12 9 -29 20 -37 10 -8 22 -27 25 -42 4 -15 11 -28 16 -28 5 0 9 -9 9 -20 0 -11 5 -20 10 -20 6 0 10 -5 10 -11 0 -6 7 -17 15 -25 8 -9 15 -24 15 -35 0 -10 5 -19 10 -19 6 0 10 -7 10 -15 0 -8 5 -15 10 -15 6 0 10 -9 10 -19 0 -10 7 -21 15 -25 8 -3 15 -15 15 -26 0 -11 5 -20 10 -20 6 0 10 -7 10 -15 0 -8 4 -15 9 -15 5 0 13 -10 17 -22 4 -13 15 -30 25 -39 11 -9 19 -23 19 -32 0 -8 7 -17 15 -21 8 -3 15 -15 15 -26 0 -11 4 -20 8 -20 18 0 48 -36 44 -52 -2 -10 1 -18 6 -18 15 0 72 -56 65 -64 -3 -3 -1 -6 5 -6 6 0 23 -12 39 -27 22 -23 36 -28 78 -28 76 0 85 13 85 124 0 54 -4 91 -10 91 -5 0 -10 20 -10 45 0 25 -3 45 -8 45 -4 0 -6 18 -4 40 3 25 0 40 -7 40 -6 0 -11 19 -11 45 0 25 -4 45 -10 45 -5 0 -10 23 -10 50 0 28 -4 50 -10 50 -5 0 -10 20 -10 45 0 25 -3 45 -7 45 -5 0 -6 27 -5 60 3 39 0 60 -7 60 -7 0 -11 21 -11 50 0 28 -4 50 -10 50 -6 0 -10 28 -10 65 0 36 -4 65 -9 65 -5 0 -12 61 -16 135 -4 74 -11 135 -16 135 -5 0 -9 43 -9 95 0 57 -4 95 -10 95 -6 0 -10 53 -10 140 0 77 -3 140 -7 140 -5 0 -8 182 -8 405 0 223 3 405 8 405 4 0 7 59 7 130 0 80 4 130 10 130 6 0 10 42 10 105 0 58 4 105 9 105 5 0 12 70 16 155 4 85 11 155 16 155 5 0 9 27 9 60 0 33 4 60 10 60 6 0 10 27 10 60 0 33 4 60 9 60 5 0 12 47 16 105 4 58 11 105 16 105 5 0 9 20 9 45 0 25 5 45 10 45 6 0 10 23 10 50 0 30 4 50 11 50 7 0 10 14 7 35 -2 19 0 35 4 35 4 0 8 23 8 50 0 28 5 50 10 50 6 0 10 16 10 35 0 19 4 35 9 35 5 0 12 31 16 70 4 38 11 70 16 70 5 0 9 14 9 30 0 17 3 30 8 30 4 0 16 37 26 82 11 46 23 87 28 92 4 6 8 22 8 37 0 15 4 29 10 31 14 4 15 175 1 192 -13 15 -30 135 -26 181 12 128 21 176 50 290 19 72 37 138 40 147 5 12 -5 20 -45 33 -28 9 -53 15 -54 14 -2 -2 -11 -29 -21 -59 -54 -169 -152 -369 -217 -441 l-33 -37 -140 9 c-77 5 -176 13 -220 19 -44 5 -127 12 -185 15 -58 3 -106 10 -108 15 -2 6 -28 10 -58 10 -30 0 -54 5 -54 10 0 6 -22 10 -50 10 -27 0 -50 4 -50 9 0 5 -34 12 -75 16 -41 4 -78 11 -81 16 -3 5 -23 9 -45 9 -21 0 -39 5 -39 10 0 6 -11 10 -25 10 -14 0 -25 4 -25 9 0 5 -31 12 -70 16 -38 4 -70 11 -70 16 0 5 -11 9 -25 9 -14 0 -25 4 -25 9 0 5 -25 12 -55 16 -30 3 -55 11 -55 16 0 5 -7 9 -15 9 -8 0 -15 5 -15 10 0 6 -11 10 -25 10 -14 0 -25 4 -25 9 0 4 -19 11 -42 14 -24 3 -44 11 -46 16 -2 6 -12 11 -23 11 -10 0 -19 5 -19 10 0 6 -7 10 -15 10 -8 0 -15 4 -15 9 0 5 -16 12 -35 15 -19 4 -35 11 -35 16 0 6 -7 10 -15 10 -8 0 -15 4 -15 9 0 5 -14 14 -30 20 -17 5 -33 17 -36 26 -3 8 -13 15 -21 15 -9 0 -30 16 -49 35 -18 19 -37 35 -43 35 -6 0 -11 5 -11 11 0 6 -13 23 -28 37 -16 15 -27 33 -25 40 3 6 0 12 -6 12 -8 0 -11 1157 -11 4080 0 2713 -3 4080 -10 4080 -6 0 -10 30 -10 70 0 39 -4 70 -9 70 -5 0 -12 20 -15 45 -4 25 -11 45 -17 45 -5 0 -9 5 -9 10 0 6 -11 22 -25 36 -14 14 -25 31 -25 39 0 8 -7 15 -16 15 -9 0 -31 16 -50 35 -18 19 -40 35 -49 35 -9 0 -13 5 -10 10 3 6 -2 10 -12 10 -10 0 -30 6 -45 14 -28 15 -186 27 -253 19z" />
                            <path d="M2061 8399 c-497 -52 -878 -278 -1050 -624 -102 -206 -133 -401 -112 -695 42 -567 210 -1172 505 -1815 87 -191 112 -376 67 -495 -22 -57 -18 -70 22 -70 63 0 225 -98 254 -153 25 -49 21 -148 -10 -206 l-25 -49 58 -21 c171 -63 317 -222 532 -581 324 -541 524 -1116 578 -1659 14 -148 12 -354 -5 -434 -51 -240 -216 -356 -510 -356 -234 -1 -361 99 -428 337 -20 74 -21 101 -25 632 -4 627 2 712 57 822 20 40 26 60 18 63 -7 2 -39 11 -71 20 -150 42 -264 131 -321 250 -46 97 -66 197 -72 358 l-6 137 -52 0 -52 0 -6 -152 c-16 -398 -108 -518 -464 -608 l-41 -10 34 -58 c36 -58 66 -144 85 -242 16 -76 24 -1316 10 -1465 -14 -156 -36 -236 -86 -310 l-42 -63 84 -20 c110 -27 205 -75 272 -138 l54 -50 56 33 c31 19 81 41 111 50 79 23 250 12 485 -31 386 -70 703 -75 997 -16 574 117 957 492 1055 1034 20 109 21 336 4 481 -51 415 -211 953 -413 1390 -119 255 -154 386 -146 545 3 72 9 99 34 148 l29 60 -56 6 c-66 6 -156 38 -193 67 -77 61 -72 165 11 251 l35 36 -45 20 c-280 124 -641 610 -898 1209 -149 347 -303 1000 -325 1378 -15 261 58 420 225 487 81 32 284 33 386 1 163 -51 274 -161 322 -318 16 -54 18 -102 18 -510 -1 -386 -3 -464 -18 -545 -18 -98 -46 -170 -91 -236 -14 -21 -22 -41 -18 -45 4 -3 39 -16 77 -29 280 -90 365 -232 382 -637 l6 -163 59 0 58 0 0 103 c0 250 51 449 141 552 49 55 137 109 240 146 l89 32 -36 40 c-42 46 -77 117 -99 202 -31 120 -37 269 -32 840 4 461 7 574 21 639 19 95 51 196 71 222 22 29 18 34 -24 34 -118 0 -263 60 -332 138 l-43 48 -64 -32 c-148 -75 -259 -79 -587 -25 -368 62 -528 72 -744 50z" />
                            <path d="M11441 8359 c-101 -61 -315 -129 -406 -129 -25 0 -26 -2 -20 -42 7 -53 95 -785 95 -792 0 -4 29 -6 65 -6 l65 0 0 155 c0 175 12 225 61 250 30 16 77 19 96 7 7 -4 19 -24 28 -45 13 -32 15 -176 15 -1209 0 -794 -4 -1202 -11 -1263 -25 -202 -77 -336 -167 -423 -30 -29 -53 -54 -51 -56 2 -1 21 -12 41 -25 88 -53 122 -131 98 -222 -12 -42 -70 -112 -114 -136 -16 -9 -14 -15 31 -59 86 -86 139 -227 163 -439 6 -57 10 -550 10 -1326 0 -1185 -1 -1237 -18 -1252 -29 -27 -98 -22 -127 8 -25 24 -25 25 -25 230 l0 205 -58 0 -57 0 -63 -427 c-35 -236 -63 -434 -62 -440 0 -7 11 -13 24 -13 85 0 343 -95 418 -154 l32 -24 46 23 c26 13 85 34 131 47 158 42 484 26 615 -32 23 -10 44 -22 48 -28 4 -6 26 9 54 37 26 26 73 60 105 75 66 31 194 66 242 66 l32 0 -101 418 -101 417 -57 3 -57 3 -3 -201 c-3 -198 -3 -202 -27 -221 -16 -13 -39 -19 -78 -19 -63 0 -98 26 -108 81 -3 19 -4 536 -2 1149 3 983 6 1129 21 1235 37 263 82 432 147 554 22 40 38 75 37 76 -90 61 -118 107 -118 191 0 69 27 130 76 173 l34 31 -36 47 c-64 83 -107 193 -140 359 -14 66 -17 185 -21 727 l-4 647 45 0 c25 0 46 -3 46 -7 0 -4 47 -339 105 -743 116 -816 124 -900 101 -975 -8 -27 -14 -49 -13 -50 1 0 23 -18 49 -38 143 -114 135 -257 -20 -362 -1 -2 11 -24 27 -51 80 -130 112 -296 390 -2024 l227 -1414 35 -8 c82 -20 197 -84 260 -145 l36 -34 55 54 c58 58 134 103 208 122 l45 11 231 1440 c127 791 243 1498 258 1569 50 243 103 397 155 452 l21 22 -35 17 c-63 30 -125 129 -125 201 0 55 67 140 140 178 29 15 30 18 23 58 -5 23 -8 128 -7 232 l1 190 106 630 c59 347 109 640 112 653 4 18 12 22 41 22 l35 0 -3 -632 c-4 -611 -5 -637 -26 -741 -35 -166 -90 -308 -146 -374 l-26 -31 39 -25 c52 -34 81 -85 88 -151 7 -68 -19 -127 -82 -185 l-44 -40 30 -33 c60 -64 110 -190 146 -368 15 -76 17 -209 20 -1318 3 -887 1 -1244 -7 -1274 -22 -80 -87 -117 -153 -87 -44 20 -51 51 -55 247 l-4 182 -49 0 c-27 0 -49 -4 -49 -8 0 -12 -119 -773 -125 -799 -5 -20 -1 -23 24 -23 55 0 225 -50 306 -90 45 -22 96 -56 115 -75 31 -32 34 -33 60 -20 37 19 169 51 265 65 302 42 783 9 921 -63 27 -14 28 -14 44 17 35 66 164 129 305 149 44 6 81 11 82 12 2 1 -141 776 -152 823 -5 19 -12 22 -55 22 l-50 0 0 -193 0 -194 -25 -23 c-36 -34 -130 -41 -165 -12 l-25 20 0 1194 c0 1289 1 1300 55 1513 37 146 129 301 191 320 27 9 24 21 -11 35 -42 17 -117 101 -128 143 -19 69 18 163 84 214 l35 26 -28 18 c-81 53 -146 205 -180 421 -17 104 -18 208 -18 1278 0 1157 0 1165 21 1200 38 66 118 66 141 0 7 -21 12 -99 12 -197 l1 -163 50 0 c28 0 50 4 50 8 0 5 25 191 55 413 30 222 55 412 55 422 0 12 -8 17 -27 17 -97 0 -329 91 -372 146 l-18 23 -50 -19 c-68 -26 -233 -56 -383 -71 -219 -21 -492 4 -698 64 l-84 25 -41 -23 c-89 -48 -276 -98 -420 -111 -42 -4 -77 -8 -77 -10 0 -10 -441 -2882 -445 -2901 -5 -19 -12 -23 -48 -23 l-42 0 -214 1443 c-117 793 -215 1451 -218 1462 -4 18 -17 22 -116 33 -139 15 -281 52 -363 96 l-63 33 -78 -22 c-332 -97 -747 -95 -1059 3 l-61 19 -62 -38z" />
                            <path d="M17421 8375 c-48 -34 -190 -84 -278 -97 -69 -11 -73 -13 -73 -37 1 -14 22 -206 48 -426 l48 -400 67 -3 67 -3 0 186 c0 184 0 186 25 210 31 32 84 34 111 4 18 -20 19 -54 22 -1048 3 -1030 -3 -1339 -32 -1511 -31 -191 -79 -310 -154 -388 -40 -41 -42 -46 -26 -55 72 -41 154 -159 154 -221 -1 -68 -58 -144 -140 -186 -14 -7 -26 -14 -28 -15 -2 -2 16 -23 41 -47 81 -82 135 -224 168 -443 13 -89 26 -2309 14 -2424 -5 -48 -13 -70 -30 -87 -32 -32 -85 -32 -122 0 l-28 24 -3 216 -3 216 -60 0 c-32 0 -59 -4 -59 -9 0 -10 -117 -822 -124 -862 -5 -26 -3 -27 52 -34 123 -15 341 -105 421 -172 l34 -29 46 22 c26 13 94 33 151 45 94 20 133 23 360 23 278 0 367 -10 547 -64 l93 -27 15 24 c35 52 194 134 306 157 l56 11 -69 420 c-37 231 -70 430 -73 443 -5 19 -12 22 -55 22 l-50 0 0 -180 c0 -195 -6 -222 -51 -246 -77 -39 -152 10 -164 107 -3 29 -5 599 -2 1264 3 1070 5 1218 20 1275 44 178 119 269 268 321 57 21 82 23 234 23 145 0 179 -3 232 -21 122 -41 199 -105 254 -215 66 -130 63 -68 67 -1413 2 -671 0 -1249 -3 -1284 -8 -78 -35 -111 -90 -111 -86 0 -95 26 -95 277 l0 194 -52 -3 -52 -3 -93 -430 c-51 -236 -92 -432 -93 -435 0 -3 36 -11 81 -18 138 -22 338 -102 389 -157 l22 -23 51 24 c215 98 826 94 1062 -6 l40 -17 42 36 c73 65 233 131 355 146 55 7 57 8 52 34 -7 39 -124 815 -124 824 0 4 -27 7 -60 7 l-60 0 0 -189 c0 -244 -9 -271 -93 -271 -55 0 -84 41 -92 132 -4 40 -5 582 -2 1203 5 1216 4 1212 58 1390 40 134 121 250 206 294 l34 17 -50 32 c-89 58 -125 173 -82 267 17 38 103 125 122 125 21 0 5 17 -33 34 -164 76 -227 250 -248 683 -13 275 -13 2227 0 2275 17 59 78 78 116 37 17 -19 19 -41 22 -220 l3 -199 65 0 c35 0 64 2 64 3 0 2 25 181 55 398 30 217 55 401 55 410 0 12 -13 19 -47 24 -99 14 -256 90 -312 149 l-22 23 -72 -27 c-124 -48 -245 -64 -492 -64 -242 -1 -347 13 -504 64 l-84 27 -34 -23 c-76 -51 -273 -114 -359 -114 -25 0 -26 -1 -20 -47 3 -27 22 -219 41 -428 20 -209 38 -390 41 -402 4 -20 10 -23 58 -23 l54 0 6 73 c3 39 8 137 11 217 7 173 14 190 79 190 31 0 48 -6 62 -21 18 -20 19 -57 22 -1223 2 -817 0 -1236 -8 -1309 -25 -247 -126 -387 -324 -450 -62 -19 -92 -22 -231 -22 -139 1 -168 4 -223 23 -154 55 -228 142 -270 324 -16 67 -17 178 -17 1318 0 1185 1 1247 18 1293 21 54 55 77 114 77 50 0 80 -22 93 -68 5 -20 10 -115 10 -209 l0 -173 50 0 c28 0 50 3 50 7 0 7 188 799 195 823 4 13 -11 18 -81 28 -105 16 -283 73 -346 111 l-46 29 -57 -19 c-138 -45 -388 -79 -584 -79 -194 1 -357 25 -540 81 -35 10 -64 19 -65 19 0 -1 -16 -12 -35 -25z" />
                            <path d="M22288 8362 c-86 -68 -224 -123 -344 -137 l-61 -7 22 -146 c13 -81 42 -274 65 -429 l43 -283 58 0 58 0 3 191 3 191 33 29 c41 36 99 40 128 8 18 -21 19 -54 19 -1183 0 -885 -3 -1180 -13 -1241 -34 -221 -101 -389 -192 -486 -28 -29 -46 -55 -41 -57 6 -2 33 -21 61 -44 58 -46 100 -111 100 -155 0 -44 -56 -122 -116 -162 l-51 -33 46 -62 c114 -151 178 -375 201 -706 11 -156 14 -2139 4 -2202 -9 -53 -44 -88 -88 -88 -89 0 -96 19 -96 275 l0 205 -64 0 c-62 0 -65 -1 -70 -28 -10 -46 -126 -865 -124 -867 2 -2 39 -12 83 -24 104 -28 249 -99 304 -148 l44 -39 66 32 c105 52 208 68 391 61 161 -6 383 -32 580 -67 236 -43 429 -37 725 20 190 37 296 50 407 50 104 0 279 -23 368 -49 l65 -18 50 34 c52 35 216 103 297 123 l48 12 -25 20 c-35 27 -72 104 -86 175 -16 85 -24 1345 -9 1476 18 155 58 270 120 340 l30 35 -92 32 c-314 109 -384 209 -408 590 -5 80 -10 162 -10 183 l0 37 -48 0 -49 0 -6 -152 c-13 -344 -79 -489 -264 -581 -37 -19 -105 -46 -150 -61 l-81 -27 29 -64 c55 -121 60 -182 66 -726 7 -655 -4 -789 -74 -891 -43 -63 -112 -90 -247 -96 -131 -5 -260 10 -323 40 -55 26 -109 86 -125 140 -19 62 -19 2547 0 2658 27 159 73 205 207 205 67 0 87 -4 125 -25 24 -14 55 -41 68 -60 21 -31 23 -42 18 -99 -4 -52 -14 -80 -49 -140 -92 -159 -114 -279 -68 -374 42 -87 143 -146 265 -155 l70 -5 -28 34 c-63 75 -72 144 -27 205 16 21 65 64 110 94 219 148 268 197 297 297 39 133 -37 281 -187 365 -21 12 -39 24 -39 28 0 3 72 41 160 85 88 44 160 82 160 85 0 3 -70 46 -156 97 l-156 92 43 21 c56 29 136 105 162 155 27 52 29 146 3 195 -40 76 -93 135 -185 204 -106 81 -157 133 -167 171 -10 40 5 111 31 149 l24 36 -28 0 c-52 0 -158 -39 -221 -82 -69 -46 -115 -107 -125 -167 -9 -55 19 -161 70 -265 65 -129 58 -185 -31 -252 -34 -26 -45 -29 -118 -29 -93 0 -136 18 -174 75 -69 103 -74 206 -70 1480 5 1151 4 1132 58 1241 28 55 84 115 130 139 85 44 269 51 372 15 61 -22 133 -85 164 -146 56 -112 59 -143 59 -654 0 -494 -6 -583 -46 -691 -11 -29 -35 -72 -54 -97 -19 -25 -32 -48 -28 -50 5 -2 33 -12 63 -22 92 -29 210 -96 265 -149 100 -99 148 -250 161 -508 l7 -138 53 0 c30 0 54 1 54 3 0 1 5 81 10 177 6 96 17 206 25 245 40 184 141 289 354 365 l87 31 -28 57 c-62 126 -63 135 -63 922 0 754 2 801 46 900 11 25 31 57 45 71 l25 27 -72 16 c-93 21 -208 76 -260 125 l-40 39 -65 -29 c-36 -16 -104 -39 -152 -50 -112 -27 -230 -22 -432 20 -241 49 -296 55 -490 55 -174 0 -196 -2 -360 -36 -226 -47 -384 -62 -580 -55 -178 7 -309 27 -427 66 l-82 27 -43 -34z" />
                            <path d="M26263 8364 c-75 -57 -273 -124 -369 -124 -26 0 -26 -2 -21 -42 3 -24 22 -208 43 -410 l39 -368 52 0 52 0 3 179 c3 174 4 180 27 205 41 44 107 32 136 -24 23 -44 23 -2232 -1 -2387 -31 -214 -104 -393 -197 -487 -26 -26 -47 -49 -45 -50 2 -1 17 -10 33 -20 125 -76 162 -201 84 -283 -19 -19 -58 -49 -87 -65 l-52 -30 37 -27 c86 -62 159 -175 197 -301 45 -149 46 -178 46 -1483 l0 -1239 -29 -29 c-38 -38 -97 -41 -129 -6 -21 22 -22 32 -22 200 l0 177 -60 0 c-33 0 -60 -1 -60 -3 0 -2 -25 -176 -55 -387 -30 -211 -55 -392 -55 -402 0 -13 8 -18 28 -18 101 0 315 -88 398 -163 l47 -43 79 34 c188 81 423 82 933 3 270 -42 552 -52 710 -26 182 31 370 55 424 55 71 0 218 -24 296 -47 l60 -19 60 46 c82 62 183 106 290 126 50 10 91 18 93 19 2 2 -11 24 -27 50 -40 63 -67 148 -87 270 -12 76 -17 205 -21 540 -9 725 17 938 127 1077 l30 36 -68 22 c-275 90 -380 230 -412 549 -5 57 -10 136 -10 177 l0 74 -48 0 -49 0 -7 -162 c-7 -185 -18 -267 -47 -353 -42 -128 -129 -204 -301 -263 l-96 -34 29 -61 c32 -68 61 -176 80 -289 16 -103 24 -903 10 -998 -24 -156 -104 -242 -261 -281 -82 -21 -358 -18 -431 4 -134 40 -200 122 -219 267 -13 103 -13 2236 0 2410 19 243 57 356 151 450 l49 49 -39 20 c-46 24 -99 75 -112 108 -17 46 -10 114 17 160 25 44 95 103 121 103 21 0 16 8 -40 63 -63 61 -101 135 -122 235 -31 148 -36 393 -33 1487 3 1009 4 1082 21 1112 22 41 45 53 97 53 105 0 130 -48 130 -250 l0 -140 49 0 c46 0 50 2 55 28 12 58 136 775 136 787 0 8 -23 15 -65 19 -128 13 -294 73 -362 130 -30 25 -32 25 -67 11 -55 -23 -196 -55 -315 -70 -238 -32 -543 -8 -741 59 l-65 22 -42 -32z" />
                            <path d="M30120 8394 c0 -16 -94 -73 -164 -99 -74 -28 -190 -55 -235 -55 l-27 0 43 -397 c23 -219 42 -404 43 -410 0 -9 17 -13 49 -13 l49 0 4 168 c5 210 17 242 97 242 35 0 67 -31 81 -78 8 -26 10 -368 7 -1177 -3 -1029 -5 -1148 -21 -1225 -42 -208 -100 -343 -186 -432 l-56 -58 54 -37 c59 -40 112 -119 112 -166 0 -66 -49 -127 -137 -170 -24 -12 -43 -23 -43 -26 0 -4 19 -19 41 -35 119 -84 200 -260 228 -501 7 -59 11 -498 11 -1288 0 -1283 1 -1250 -48 -1276 -32 -17 -87 -13 -113 8 -23 19 -24 24 -27 201 l-3 181 -57 -3 -56 -3 -52 -365 c-29 -201 -55 -381 -58 -401 l-6 -36 63 -7 c128 -15 297 -89 378 -166 l40 -38 65 30 c97 45 157 59 294 65 150 7 328 -7 585 -47 329 -51 603 -63 775 -35 322 52 405 60 520 47 61 -7 145 -23 187 -37 l77 -24 37 33 c77 70 185 119 321 144 l88 17 -30 46 c-39 60 -66 135 -87 251 -16 82 -18 162 -18 688 0 523 2 606 17 687 22 115 49 186 93 249 19 26 31 51 27 55 -4 3 -32 14 -62 23 -161 51 -277 141 -335 260 -47 97 -65 192 -72 379 l-6 157 -52 0 -52 0 -6 -187 c-8 -269 -38 -382 -127 -471 -46 -46 -146 -100 -242 -132 -38 -12 -68 -24 -68 -26 0 -3 12 -28 26 -56 32 -63 68 -203 84 -323 17 -133 25 -776 11 -910 -19 -193 -82 -280 -234 -327 -62 -20 -94 -23 -237 -23 -145 0 -174 3 -239 23 -58 19 -83 33 -120 70 -93 93 -86 -16 -89 1342 -3 1249 0 1354 39 1503 24 88 77 178 133 223 l37 31 -58 34 c-92 54 -126 124 -103 208 13 50 69 115 121 142 l38 19 -53 50 c-89 84 -126 184 -146 395 -6 69 -10 539 -10 1253 0 1231 -2 1189 51 1226 26 18 84 21 123 6 14 -5 35 -24 46 -42 18 -29 20 -51 20 -185 l0 -153 53 0 53 0 68 393 c37 215 70 401 73 413 4 19 -1 22 -58 28 -130 13 -310 77 -378 133 l-24 20 -71 -23 c-293 -93 -693 -97 -981 -11 -44 13 -88 27 -97 32 -10 4 -18 3 -18 -1z" />
                        </g>
                    </svg>
                </h3>
            </a>

            <!-- Social Text -->
            <p class="mb-4">
                Follow us on <strong>social media</strong>!
            </p>

            <!-- Social Icons -->
            <ul class="list-inline mb-0">

                <li class="list-inline-item mx-2">
                    <a href="https://instagram.com" target="_blank" class="text-light fs-3">
                        <i class="ri-instagram-line"></i>
                    </a>
                </li>

                <li class="list-inline-item mx-2">
                    <a href="https://facebook.com" target="_blank" class="text-light fs-3">
                        <i class="ri-facebook-fill"></i>
                    </a>
                </li>

                <li class="list-inline-item mx-2">
                    <a href="https://twitter.com" target="_blank" class="text-light fs-3">
                        <i class="ri-twitter-x-line"></i>
                    </a>
                </li>

                <li class="list-inline-item mx-2">
                    <a href="https://youtube.com" target="_blank" class="text-light fs-3">
                        <i class="ri-youtube-fill"></i>
                    </a>
                </li>

            </ul>

        </div>

        <!-- Bottom Bar -->
        <div class="bg-secondary py-3">

            <div class="container text-center">

                <p class="mb-2 small">
                    Copyright © @Context.Request.Host - All rights reserved.
                </p>

                <ul class="list-inline mb-0 small">

                    <li class="list-inline-item">
                        <a href="/faq" class="text-warning text-decoration-none">FAQ</a>
                    </li>

                    <li class="list-inline-item mx-3">
                        <a href="/terms" class="text-warning text-decoration-none">Terms & Policy</a>
                    </li>

                    <li class="list-inline-item">
                        <a href="/kvkk" class="text-warning text-decoration-none">KVKK</a>
                    </li>

                </ul>

            </div>

        </div>

    </footer>








@* 
    {% if user['auth'] %}
  
    {% if site.currencies %} *@
    <div class="currency-overlay"></div>
    <div class="currency-drawer">
        <div class="drawer-header">
            <h3 class="drawer-header-title">Balance {{ user['balance_formatted'] }}</h3>
            <div class="drawer-header-close">
                <i class="ri-close-line"></i>
            </div>
        </div>
        <div class="drawer-body" id="currencies-list">
            {% for key, rate in site.currencies %}
            <a id="currencies-item" data-rate-key="{{ key }}" data-rate-symbol="{{ rate.symbol }}" class="currency-item">{{ key }} ( {{ rate['symbol'] }} )</a>
            {% endfor %}
        </div>
    </div>
   @*  {% endif %} *@
  
    <div class="g-overlay"></div>
    <div class="bs-toast">
        <div class="bs-toast-content">
            <div class="toast-text">Copy to clipboard</div>
        </div>
    </div>

  
@* {% endif %} *@



    <partial name="Partials/_Scripts" />
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
